  body{
    background-color:rgb(0, 0, 0);
    user-select: none;
    }

      h2{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 50px;
        text-shadow: 5px 5px 5px rgb(0, 0, 0);
        font-size: 250px;
        font-family: "Orbitron", sans-serif;
      }

    button{
      font-size: 20px;
      margin: 10px;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      background-color: rgb(255, 255, 255);
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
      font-family: "Orbitron", sans-serif;
    }

      div{
        text-align: center;
      }